<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1167.v8fe861b_09ef9">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>branch</name>
          <description>This is the branch of the fiveM repository you were working on</description>
          <defaultValue>master</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2659.v52d3de6044d0">
    <script>node {
    
    def app
    
    stage(&quot;Prepare&quot;){
        try {
            sh &apos;docker stop C1&apos;
            sh &apos;docker rm C1&apos;
            echo &quot;Removed old containers&quot;
        } catch (Exception e) {
            echo &apos;Returned: &apos; + e.toString()
        }
    }

    stage(&apos;Pull Image&apos;) {
        sh &apos;docker pull localhost:9999/fivem:${branch}&apos;
    }
    
    stage(&apos;deploy&apos;) {
        sh &apos;docker run -d --name C1 localhost:9999/fivem:${branch}&apos;
        /*
        sh &apos;git clone https://github.com/Canderson8495/fivem-1.git /tmp/${BUILD_NUMBER}&apos;
        sh &apos;/tmp/${BUILD_NUMBER}&apos;
        sh &apos;ls&apos;
        sh &apos;docker-compose up -d&apos;
        */
    }
    
}

</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>